<%= form_for(@article, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <!-- Title and Content fields -->
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :title %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of Article", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :content %>
    </div>
    <div class="col-sm-6">
      <%= f.text_area :content, rows: 10, class: "form-control", placeholder: "Body of Article" %>
    </div>
  </div>

  <!-- Visibility field -->
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :visibility %>
    </div>
    <div class="col-sm-6">
      <%= f.select :visibility, [['Public', 'public'], ['Draft', 'draft']], {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <%= f.submit 'Create Article', class: 'btn btn-primary' %>
        <%= button_tag 'Save Draft', type: 'submit', class: 'btn btn-primary draft-btn', name: 'commit', value: 'Save Draft' %>
      </div>
    </div>
  </div>
<% end %>